<% if session[:user_id] %>
<section class="row">
  <div class="col col-sm-7">
      
      <%= render partial: 'feed', collection: @feed %>

    </div>
</section>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the Lets Do It</h1>
	  <h3 class="facebook">
	    <%= link_to "Facebook Signin", "/auth/facebook"%>
	  </h3>
	</div>

<% end %>
